<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free food for you" />
    <link rel="icon" href="./favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />
    <title>Restoku</title>
  </head>
  <a id="skip-content" href="#main-content">Skip to Content</a>
  <body>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Restoku</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/home">daftar utama</a></li>
          <li><a href="#/favorite">favorite</a></li>
          <li><a href="https://github.com/kharisrm">About Us</a></li>
        </ul>
      </nav>
    </header>
    <main id="main-content" tabindex="0">
      <div class="hero">
        <img src="./images/heros/hero-image_4.jpg" width="450" alt="" />
      </div>
    </main>
    <footer>
      <p>All data obtained from <a href="https://restaurant-api.dicoding.dev/#/" target="_blank" rel="noreferrer">TheMovieDB</a></p>
    </footer>
  </body>
</html>
